---
layout: default
---

<section class="landing-intro--about">
  <a class="landing-intro__link" href="/">
    <img class="landing-intro__logo" src="/assets/images/logo.svg" alt="Home">
    <h2 class="landing-intro__tagline">A Live Developer Journal</h2>
  </a>
</section>

<section class="article">

  <h2>Essentialist Dev</h2>

  <h3>My mission is to help you act on the things that matter to you.</h3>

  <p>I do this by creating customizable <a href="http://localhost:4000/action-plans.html">Action Plans</a>, inspired by questions you ask me on <a href="https://twitter.com/Becca9941" target="_blank">Twitter</a>.</p>

</section>

<article class="popular-posts">
  <h1 class="popular-posts__title">Action Plans</h1>

  {% assign posts = site.posts | where: "categories", "action-plans" %}
  {% for post in posts limit:6 %}


  <article class="horizontal-article">
    <div class="horizontal-article__wrapper" tab-index="0">
      <section class="horizontal-article__content">
        <a class="horizontal-article-link" href="{{ post.url }}">
          <img class="horizontal-article__content-cover" src="/assets/images/article-images/small/{{ post.featured_image }}" alt="">
          <div class="horizontal-article__content-wrapper">
            <h2 class="horizontal-article__content-title">{{ post.title }}</h2>
          </div>
        </a>
      </section>
    </div>
  </article>


  {% endfor %}
</article>

<section class="article">

  <h2>Essentialism</h2>

  <p>The name "Essentialist Dev" is inspired by Greg McKeown's Book <a href="https://gregmckeown.com/book/" target="_blank">Essentialim: The Disciplined Pursuit of Less</a>.</p>

  <p>It's easy to get overwhelmed by how much there is to learn as a developer. This book helped me realise that <strong>we can choose to do anything, but not everything</strong>.</p>

  <img src="/assets/images/essentialism-quote.svg" alt="Only once you stop giving yourself permission to do it all, to stop saying yes to everyone, can you make your highest contribution to the things that really matter. - Greg McKeown">

</section>

<section class="article">

<h2>Content</h2>

<ul class="newsletter__list">
  <li><a href="/action-plans.html">Action Plans</a>: Step-by-step guides for core developer skills.</li>
  <li><a href="/tech-journal.html">Tech Journal</a>: Core developer techniques, tools, principles and philosophies (and the why behind them)</li>
  <li><a href="/non-tech.html">Non-Tech</a>: The best transferable advice from other disciplines.</li>
  <li><a href="/wellbeing">Wellbeing</a>: Tips on how to improve your life right now!</li>
</ul>

</section>

<section class="download-cta">

  <button class="download-cta__scroll-down" aria-label="Scroll down">
    <div class="download-cta__wrapper"></div>
    <span class="download-cta__icon material-icons">arrow_downward</span>
  </button>

  <h2 class="download-cta__title">How are you, really?</h2>
  <p class="download-cta__tagline">Discover how to track and improve your wellbeing</p>
  <img class="download-cta__ebook-cover" src="/assets/images/ebook-covers/wellbeing-trackers-ebook-cover.webp" alt="Download wellbeing ebook">
  <a href="/assets/ebooks/wellbeing_trackers.pdf" target="_blank" class="mdc-button mdc-button--raised">
    <div class="mdc-button__ripple"></div>
    <i class="material-icons mdc-button__icon" aria-hidden="true">picture_as_pdf</i>
    <span class="mdc-button__label">Download wellbeing trackers</span>
  </a>
  <p class="download-cta__additional-info">(No email necessary)</p>
  <div class="download-cta__continue"></div>
</section>

<section class="article">

</section>

{% include newsletter-signup.html %}
