---
layout: default
title: Yayy Action Plans!
---

<article class="articles">

<h1 class="articles__title">{{ page.title }}</h1>

{% include newsletter-signup.html %}

<section class="article-cards">

  {% for post in site.posts %}

  {% if post.categories contains "action-plans" %}

    {% include article-card.html %}

  {% endif %}
  {% endfor %}

</section>

</article>
