---
layout: default
title: All The Fun Stuff!
---

<article class="articles">

<h1 class="articles__title">{{ page.title }}</h1>

{% include newsletter-signup.html %}

<section class="article-cards">

  {% for post in site.posts %}
    {% include article-card.html %}
  {% endfor %}

</section>

</article>
