@use "@material/list/mdc-list";
@import 'reset';

// MDC Theming
$mdc-theme-primary: #E60054;
$mdc-theme-secondary: #006F80;
$mdc-theme-error: #b00020;
$text: #1D243A;

$mdc-theme-surface: #ffffff;
$mdc-theme-on-surface: #000000;

// MDC Components
// Button
@import "@material/typography/mdc-typography";
@import "@material/button/mdc-button";
// Top App Bar
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/icon-button/mdc-icon-button";
// Elevation
@import "@material/elevation/mdc-elevation";
// Fab
@import "@material/fab/mdc-fab";
// Card
@import "@material/card/mdc-card";


strong {
  font-weight: bold;
  color: $mdc-theme-primary;
  &.tropical-rain-forest, &.accent { color: $mdc-theme-secondary; }
  &.gray { color: $text; }
  &.yellow { color: #B38600; }
  &.red { color: red; }
  &.green { color: green; }
}
em {
  font-style: italic;
}
q {
  font-style: italic;
  quotes: "“" "”" "‘" "’";
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}
ol {
  counter-reset: hexy-counter;
  padding-left: 40px;
  padding-bottom: 2rem;
  & li {
    margin: 0 0 .5rem 0;
    counter-increment: hexy-counter;
    position: relative;

    &::before {
      content: counter(hexy-counter);
      background-color: $mdc-theme-secondary;
      color: white;
      position: absolute;
      list-style-position: inside;
      --size: 22px;
      left: calc(-1 * var(--size) - 10px);
      line-height: var(--size);
      width: 27px;
      height: 23px;
      top: 0;
      text-align: center;
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    }
  }
}

video {
  width: 100%;
  max-width: 900px;
  height: 100%;
}

.award {
  position: absolute;
  width: 2rem;
  margin-left: 1rem;
}

.article-action-plan {
  margin-top: 2rem;
}

.cv {
  display: block;
  width: 90%;
  max-width: 900px;
  margin: 2rem auto;
  margin-top: 4.5rem;
  @extend .mdc-elevation--z6;
  &__download {
    position: absolute;
    right: 0;
    margin: 1rem;
  }
}

.contact-form {
  margin-top: 2rem;
}

.contents {
  margin-top: 2rem;
}

.navigation {
  @extend .mdc-top-app-bar;
  @include mdc-top-app-bar-fill-color(white);
  @include mdc-top-app-bar-icon-ink-color($mdc-theme-secondary);
  @include mdc-top-app-bar-ink-color($text);
  position: sticky;
  top: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  &__wrapper {
    @extend .mdc-top-app-bar__row;
  }
  &__menu {
    @extend .mdc-top-app-bar__section;
    @extend .mdc-top-app-bar__section--align-start;
    @include mdc-top-app-bar-icon-ink-color($text);
    &__title {
      a {
        text-decoration: none;
        color: $text;
      }
    }
    &__open {
      @extend .mdc-top-app-bar__navigation-icon;
      @extend .mdc-icon-button;
    }
    &__title {
      @extend .mdc-top-app-bar__title;
      color: $text;
      &:hover { color: text; }
    }
  }
  &__icons {
    @extend .mdc-top-app-bar__section;
    @extend .mdc-top-app-bar__section--align-end;
    width: max-content;
    &__icon {
      @extend .mdc-top-app-bar__action-item;
      @extend .mdc-icon-button;
    }
  }
}

.nav-banner {
  display: none;
  justify-content: flex-end;
  background-color: $text;
  font-family: roboto;
  text-transform: uppercase;
  font-size: .7rem;
  letter-spacing: .1rem;
  padding: .3rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%232b3555' fill-opacity='0.81'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  &__link {
    color: white;
    text-decoration: none;
    margin: 0;
    margin-right: 1rem;
    &-twitter {
      width: .7rem;
    }
    &:hover {
      color: $mdc-theme-primary;
    }
  }
}

.site-page-links {
  @extend .mdc-typography--button;
  display: none;
  &__link {
    @extend .mdc-typography--overline;
    color: $text;
    text-decoration: none;
    padding: .5rem;
    &:hover {
      color: $mdc-theme-secondary;
    }
  }
}

.nav-logo { display: none; }

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #F6F8FA;

  .bar {
    width: 1%;
    height: 4px;
    background: repeating-linear-gradient(
    45deg,
    white,
    white, 4px,
    #FF186E 4px,
    #FF186E 8px,
    );
  }
}

.nav-drawer {
  width: 230px;
  border-right: solid lightgray 1px;
  &__header {
    background-color: $text;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%232b3555' fill-opacity='0.81'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    text-align: center;
    padding: 1rem;
    color: white;
    &__title {
      @extend .mdc-typography--subtitle2;
    }
    &__tagline {
      @extend .mdc-typography--caption;
    }
  }
  &__logo {
    width: 7rem;
    margin: .5rem 0;
  }
  &__title {
    @extend .mdc-typography--subtitle1;
  }
  &__tagline {
    @extend .mdc-typography--body2;
  }
  &__group-pages {
    &__title {
      @extend .mdc-typography--headline6;
      color: $mdc-theme-secondary;
      font-size: .8rem;
      line-height: .8rem;
      padding: 0 .2rem;
      margin-top: -.5rem;
      background-color: white;
      width: max-content;
      margin-left: 1rem;
    }
  }
}

.nav-list {
  border-bottom: lightgray solid 1px;
  padding-bottom: .5rem;
  &__title {
    @extend .mdc-typography--overline;
  }
  &__category {
    border-bottom: lightgray solid 1px;
  }
  &__page {
    @extend .mdc-typography--subtitle2;
    padding: .5rem;
    margin: .5rem;
    border-radius: .3rem;
    &:hover {
      background-color: rgba($mdc-theme-primary, .1);
      & a {
        color: $mdc-theme-primary;
      }
    }
    & a {
      text-decoration: none;
      color: $text;
      display: flex;
      align-items: center;
    }
    & i {
      display: block;
      font-size: 1.5rem !important;
      width: max-content;
    }
  }
}

.site {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}
.mobile-nav {
  position: absolute;
  height: 100vh;
  overflow: scroll;
  left: -230px;
  transition: left .3s ease-out;
  & header {
    position: sticky;
    top: 0;
  }
  &.open {
    display: block;
    left: 0;
  }
}
.main-content {
  position: absolute;
  left: 0;
  right: 0;
  min-width: 340px;
  height: 100vh;
  overflow: scroll;
  transition: left .3s ease-out;
  &.open {
    left: 231px;
  }
}


@media only screen and (min-width: 900px) {
  .nav-banner,
  .site-page-links { display: flex; }
  .nav-logo { display: block; width: 6rem; }
  .navigation__menu__open { display: none !important; }
  .mobile-nav.open { display: none; transition: none; }
  .main-content.open { left: 0; transition: none; }
}

#search-container {
  position: absolute;
  left: 0;
  background-color: white;
  width: 100%;
  align-items: center;
  display: none;
  &.open {
    display: flex;
  }
  & #search-input {
    width: 100%;
    padding: .5rem;
    margin: .5rem;
    margin-right: 0;
    border: solid 2px $mdc-theme-secondary;
    border-radius: .3rem;
    font-family: roboto;
    font-size: 1rem;
    color: $mdc-theme-primary;
    &::placeholder {
      color: $text;
    }
  }
  & #close-search {
    padding: .5rem;
    margin-left: 0;
    cursor: pointer;
    background-color: white;
    color: $text;
    border: none;
  }
  & #results-container {
    position: absolute;
    top: 3.5rem;
    background-color: white;
    width: 100%;
    & li {
      padding: 1rem;
      &:last-of-type {
        border-bottom: solid 2px lightgray;
      }
      & a {
        color: $text;
        text-decoration: none;
        &:hover {
          color: $mdc-theme-primary;
          text-decoration: underline;
        }
      }
    }
  }
}


main {
  padding: 4rem 0;
}

.landing-intro {
  text-align: center;
  &--about {
    margin-top: 4rem;
    text-align: center;
  }
  &__link {
    text-decoration: none;
  }
  &__logo {
    width: 13rem;
  }
  &__tagline {
    @extend .mdc-typography--caption;
    text-transform: capitalize;
    letter-spacing: .1rem;
    margin-left: .3rem;
    font-weight: 500;
    color: $mdc-theme-secondary;
  }
}

.categories {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2rem 0;
  min-width: 335px;
}

@media only screen and (min-width: 400px) {
  .categories {
    max-width: 400px;
    margin: 2rem auto;
  }
}

.category {
  flex-basis: 45%;
  margin-bottom: 3%;
  transition: box-shadow 0.2s linear;
  &:hover {
    @extend .mdc-elevation--z5;
  }
  & a { text-decoration: none; }
  &__cover {
    width: 100%;
    height: 240px;
    margin-bottom: -.2rem;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #1d243a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%232b3555' fill-opacity='0.81'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: .75rem;
    font-weight: 500;
    padding: .2rem 0;
    letter-spacing: .1rem;
  }
  &__icon {
    margin-right: .5rem;
    font-size: 1rem !important;
  }
}

@media only screen and (min-width: 900px) {
  .categories {
    max-width: 1000px;
    margin-top: 3rem;
  }
  .category {
    &__cover {
      width: 200px;
      height: 300px;
    }
    flex-basis: 18%;
  }
  .full-cta-link {
    flex-basis: 30%;
  }
}

.ask-audience {
  padding: 0 1rem;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 2rem;
  &__diagram {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
  }
  &__question {
    @extend .mdc-typography--headline5;
    font-weight: 500;
  }
  &__to-ponder {
    @extend .mdc-typography--body1;
    margin: 2rem 0;
  }
  &__my-example {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.download-cta {
  text-align: center;
  color: white;
  background-color: #1d243a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%232b3555' fill-opacity='0.81'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  position: relative;
  margin: 3rem 0;
  padding: 2.5rem 1rem;
  &__ebook-cover {
    @extend .mdc-elevation--z8;
    display: block;
    margin: 2rem auto;
    max-width: 300px;
    border-radius: .2rem;
  }
  &__scroll-down {
    @extend .mdc-fab;
    border-radius: 5rem;
    color: white;
    background-color: #1d243a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%232b3555' fill-opacity='0.81'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    position: absolute;
    top: -1.7rem;
    left: 50%;
    transform: translateX(-50%);
  }
  &__wrapper {
    @extend .mdc-fab__ripple;
  }
  &__icon {
    @extend .mdc-fab__icon;
  }

  &__title {
    @extend .mdc-typography--headline3;
    margin-bottom: 1rem;
  }
  &__tagline {
    @extend .mdc-typography--body1;
    margin-bottom: 1rem;
    padding: 0 3rem;
  }
  &__additional-info {
    @extend .mdc-typography--caption;
    margin-top: .5rem;
  }
  &__continue {
    position: absolute;
    bottom: -2rem;
    background-color: #1d243a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%232b3555' fill-opacity='0.81'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    left: 50%;
    transform: translateX(-50%);
    clip-path: polygon(49% 53%, 0 0, 100% 0);
    display: block;
    width: 2rem;
    height: 2rem;
  }
}

.learn-more {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
  &__logo {
    width: 10rem;
    margin-bottom: .5rem;
  }
  &__welcome {
    @extend .mdc-typography--body1;
    margin: 1rem 0;
  }
  &__about-link {
    @include mdc-button-ink-color($mdc-theme-secondary);
    &:hover {
      @include mdc-button-container-fill-color(rgba($mdc-theme-secondary, .12));
    }
    &:active {
      @include mdc-button-container-fill-color(rgba($mdc-theme-secondary, .2));
    }
  }
}

.popular-posts {
  padding: 5rem 0 2rem 0;
  text-align: center;
  background-color: #ff88ce;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%231d2539' fill-opacity='0.15'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
  margin-bottom: 6rem;
  clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0 100%);

  &__title {
    @extend .mdc-typography--button;
    background-color: #ff88ce;
    color: $text;
    width: max-content;
    font-weight: 500;
    display: block;
    padding: 0 1rem;
    border: solid 2px #DD78B7;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

.horizontal-article {
  @extend .mdc-card;
  margin: 1rem;
  border-radius: 0;
  width: 90%;
  max-width: 430px;
  display: inline-block;
  text-align: left;
  &--pillar {
    width: 100%;
    max-width: 900px;
    margin: 0;
    margin-top: 2rem;
  }
  &__wrapper {
    @extend .mdc-card__primary-action;
  }
  &__content {
    @extend .mdc-card__media;
    &-wrapper {
      padding: .5rem;
    }
    &-cover {
      width: 100px;
      height: 100px;
    }
    &-title {
      @extend .mdc-typography--subtitle1;
    }
  }

  &-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: $text;
    width: 100%;
  }
}


@media only screen and (min-width: 900px) {
  main { padding: 6rem 0; }
  .popular-posts {
    text-align: center;
  }
  .horizontal-article {
    margin: 0.5rem;
    display: inline-block;
  }
}

.action-plans {
  margin: 2rem 0;
  padding-top: 2rem;
  &__title {
    @extend .mdc-typography--headline5;
    margin-bottom: 1rem;
    text-align: center;
  }
  &__description {
    @extend .mdc-typography--body1;
    margin-bottom: 3rem;
    text-align: center;
  }
}

.article-cards {
  text-align: center;
  padding: 1rem;
}

.article-card {
  @extend .mdc-card;
  border-radius: 0;
  color: $text;
  text-align: left;
  display: inline-block;
  width: 100%;
  max-width: 350px;
  margin-bottom: 2rem;
  &-link {
    text-decoration: none;
    color: unset;
  }
  &__wrapper {
    @extend .mdc-card__primary-action;
  }
  &__content {
    @extend .mdc-card__media;
    &__wrapper {
      padding: 1rem;
    }
    &__cover {
      width: 100%;
      max-height: 350px;
      object-fit: cover;
    }
    &__category {
      @extend .mdc-typography--overline;
      color: $mdc-theme-secondary;
    }
    &__title {
      @extend .mdc-typography--headline6;
      margin-bottom: 1rem;
    }
    &__author {
      @extend .mdc-typography--subtitle2;
      margin-bottom: 1rem;
      &__link {
        color: $text;
        text-decoration: none;
        font-weight: 500;
      }
    }
    &__description {
      @extend .mdc-typography--body2;
    }
  }
  &__ctas {
    @extend .mdc-card__actions;
    &__links {
      @extend .mdc-card__action-buttons;
      &__link {
        @extend .mdc-button;
        @extend .mdc-button--outlined;
        @extend .mdc-card__action;
        @extend .mdc-card__action--button;
        padding: 0 3rem;
        &__label {
          @extend .mdc-button__label;
        }
      }
    }
    &__icons {
      @extend .mdc-card__action-icons;
      &__icon {
        @extend .mdc-icon-button;
        @extend .mdc-card__action;
        @extend .mdc-card__action--icon;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .article-card {
    margin: 1rem;
  }
}

.follow-cta {
  @extend .mdc-button;
  @extend .mdc-button--raised;
  @include mdc-button-filled-accessible($mdc-theme-secondary);
  width: 100%;
  display: flex;
  margin-top: 1rem;
  align-items: center;
  & i {
    display: block;
  }
  &__label {
    @extend .mdc-button__label;
  }
}

.full-cta-link {
  @extend .mdc-button;
  @extend .mdc-button--raised;
  width: 250px;
  display: block;
  margin: 2rem auto;
  margin-bottom: 4rem;
  &__label {
    @extend .mdc-button__label;
  }
}

.learn-more2 {
  @extend .mdc-elevation--z3;
  width: 300px;
  margin: 0 auto;
  border: solid $text 3px;
  border-radius: .2rem;
  padding-top: 4rem;
  background-image: url("/assets/images/rainbow-background.svg");
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__about-link {
    @extend .mdc-button;
    @extend .mdc-button--raised;
    @include mdc-button-filled-accessible($mdc-theme-secondary);
    margin-top: 1rem;
  }
}

.privacy-policy-button {
  @include mdc-button-filled-accessible(white);
}

.footer {
  color: white;
  text-align: center;
  padding: 3rem 0rem;
  background-color: #1d243a;
  clip-path: polygon(0% 15%, 15% 15%, 50% 0, 50% 0, 85% 15%, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%232b3555' fill-opacity='0.81'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  &__twitter {
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
    &-icon {
      width: 2rem;
      &:hover {
        opacity: .8;
      }
    }
  }
  &__author {
    @extend .mdc-typography--body2;
    margin: 2rem 0;
    &__link {
      color: $mdc-theme-primary;
      font-weight: 500;
      letter-spacing: .1rem;
    }
  }
  &__copywrite {
    @extend .mdc-typography--caption;
    opacity: .8;
  }
}

.article, .privacy {
  @extend .mdc-typography--body1;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.2rem;
  &__intro {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.2rem;
    margin-top: -3rem;
    &__metadata {
      display: flex;
      justify-content: space-between;
      &__category,
      &__published {
        @extend .mdc-typography--button;
        font-size: .8rem;
        letter-spacing: .1rem;
      }
      &__category { color: $mdc-theme-secondary; }
    }
  }

  &__title {
    @extend .mdc-typography--headline3;
    text-transform: capitalize;
    margin: 1rem 0;
  }
  &__leading {
    font-size: 1.1rem;
  }
  &__author {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    &-img {
      width: 2rem;
      height: 2rem;
      border-radius: 5rem;
      margin-right: .5rem;
    }
    &-name {
      color: $mdc-theme-primary;
      text-decoration: none;
      margin-left: .5rem;
    }
  }
  &__hero {
    margin: 1rem 0;
    &-img {
      width: 100%;
    }
    &-caption {
      @extend .mdc-typography--caption;
    }
  }
  & p {
    margin: 2rem 0;
  }

  & h2 {
    @extend .mdc-typography--headline4;
    margin-top: 4rem;
  }
  & h3 {
    @extend .mdc-typography--headline5;
    margin: 1rem 0;
  }
  & h4 {
    @extend .mdc-typography--headline6;
    margin: 1rem 0;
  }
  & a {
    color: $mdc-theme-secondary;
    font-weight: bold;
  }
  & img:not(.award) {
    width: 100%;
    max-width: 900px;
    margin: 2rem 0;
  }
  & .list {
    margin: 2rem 0;
    & li {
      margin: 1rem 0;
      margin-left: 1.5rem;
      list-style-image: url('/assets/images/heart-bulletpoint.svg');
      list-style-type: inside;
    }
  }
}

.privacy {
  &__title {
    @extend .mdc-typography--headline4;
    margin-top: 5rem;
  }
}

.privacy, .articles {
  &__title {
    @extend .mdc-typography--headline4;
    margin-top: 5rem;
    text-align: center;
  }
}


.rating-table {
  width: 100%;
  margin-bottom: 2rem;
  &__scale-explanation {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    & th,td {
      width: 33%;
      text-align: center;
    }
  }
}

#disqus_thread {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

code {
  font-family: monospace;
  padding: 1rem;
}


.newsletter {
  max-width: 500px;
  display: block;
  margin: 4rem auto;
  padding: 0 2rem;
  &__logo {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
  }
  &__title {
    @extend .mdc-typography--headline4;
    margin: 2rem 0;
    text-align: center;
  }
  &__form {
    margin: 2rem 0;
  }
  &__email-label {
    @extend .mdc-typography--headline6;
  }
  & p {
    @extend .mdc-typography--body1;
  }
  &__list {
    margin: 2rem 0;
    & li {
      margin: 1rem 0;
      margin-left: 1.5rem;
      list-style-image: url('/assets/images/heart-bulletpoint.svg');
      list-style-type: inside;
    }
  }
}

#mc-embedded-subscribe-form {
  width: 80%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
  padding: 1rem;
  & input.button {
    @extend .mdc-button;
    @extend .mdc-button--raised;  @include mdc-button-filled-accessible($mdc-theme-primary);
  }
  & .indicates-required {
    color: $mdc-theme-error;
    text-align: right;
  }
  & div.mc-field-group {
    & input {
      display: block;
      width: 100%;
      padding: .5rem;
      margin: 1rem 0;
    }
    & .asterisk {
      color: $mdc-theme-error;
    }
  }
}

/* Generated by Pygments CSS Theme Builder - https://jwarby.github.io/jekyll-pygments-themes/builder.html */
/* Base Style */
.highlight pre {
  color: #ffffff;
  background-color: #242c47;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
/* Punctuation */
.highlight .p {
  color: #ffffff;
  background-color: #242c47;
}
/* Error */
.highlight .err {
  color: #ffffff;
  background-color: #242c47;
}
/* Base Style */
.highlight .n {
  color: #e40c78;
  background-color: transparent;
}
/* Name Attribute */
.highlight .na {
  color: #e40c78;
  background-color: transparent;
}
/* Name Builtin */
.highlight .nb {
  color: #e40c78;
  background-color: transparent;
}
/* Name Class */
.highlight .nc {
  color: #e40c78;
  background-color: transparent;
}
/* Name Constant */
.highlight .no {
  color: #e40c78;
  background-color: transparent;
}
/* Name Decorator */
.highlight .nd {
  color: #ffa6da;
  background-color: transparent;
}
/* Name Entity */
.highlight .ni {
  color: #e40c78;
  background-color: transparent;
}
/* Name Exception */
.highlight .ne {
  color: #e40c78;
  background-color: transparent;
}
/* Name Function */
.highlight .nf {
  color: #e40c78;
  background-color: transparent;
}
/* Name Label */
.highlight .nl {
  color: #e40c78;
  background-color: transparent;
}
/* Name Namespace */
.highlight .nn {
  color: #e40c78;
  background-color: transparent;
}
/* Name Other */
.highlight .nx {
  color: #e40c78;
  background-color: transparent;
}
/* Name Property */
.highlight .py {
  color: #e40c78;
  background-color: transparent;
}
/* Name Tag */
.highlight .nt {
  color: #e40c78;
  background-color: transparent;
}
/* Name Variable */
.highlight .nv {
  color: #e40c78;
  background-color: transparent;
}
/* Name Variable Class */
.highlight .vc {
  color: #e40c78;
  background-color: transparent;
}
/* Name Variable Global */
.highlight .vg {
  color: #e40c78;
  background-color: transparent;
}
/* Name Variable Instance */
.highlight .vi {
  color: #e40c78;
  background-color: transparent;
}
/* Name Builtin Pseudo */
.highlight .bp {
  color: #e40c78;
  background-color: transparent;
}
/* Base Style */
.highlight .g {
  color: #ffffff;
  background-color: #ffa6da;
}
/*  */
.highlight .gd {
  color: #ffffff;
  background-color: #ffa6da;
}
/* Base Style */
.highlight .o {
  color: #8cf0ff;
  background-color: transparent;
}
/* Operator Word */
.highlight .ow {
  color: #8cf0ff;
  background-color: transparent;
}
/* Base Style */
.highlight .c {
  color: #ffe294;
  background-color: transparent;
}
/* Comment Multiline */
.highlight .cm {
  color: #ffe294;
  background-color: transparent;
}
/* Comment Preproc */
.highlight .cp {
  color: #ffe294;
  background-color: transparent;
}
/* Comment Single */
.highlight .c1 {
  color: #ffe294;
  background-color: transparent;
}
/* Comment Special */
.highlight .cs {
  color: #ffe294;
  background-color: transparent;
}
/* Base Style */
.highlight .k {
  color: #0095ac;
  background-color: transparent;
}
/* Keyword Constant */
.highlight .kc {
  color: #0095ac;
  background-color: transparent;
}
/* Keyword Declaration */
.highlight .kd {
  color: #0095ac;
  background-color: transparent;
}
/* Keyword Namespace */
.highlight .kn {
  color: #0095ac;
  background-color: transparent;
}
/* Keyword Pseudo */
.highlight .kp {
  color: #0095ac;
  background-color: transparent;
}
/* Keyword Reserved */
.highlight .kr {
  color: #0095ac;
  background-color: transparent;
}
/* Keyword Type */
.highlight .kt {
  color: #0095ac;
  background-color: transparent;
}
/* Base Style */
.highlight .l {
  color: #ffa6da;
  background-color: transparent;
}
/* Literal Date */
.highlight .ld {
  color: #ffa6da;
  background-color: transparent;
}
/* Literal Number */
.highlight .m {
  color: #ffa6da;
  background-color: transparent;
}
/* Literal Number Float */
.highlight .mf {
  color: #ffa6da;
  background-color: transparent;
}
/* Literal Number Hex */
.highlight .mh {
  color: transparent;
  background-color: transparent;
}
/* Literal Number Integer */
.highlight .mi {
  color: #ffa6da;
  background-color: transparent;
}
/* Literal Number Oct */
.highlight .mo {
  color: #ffa6da;
  background-color: transparent;
}
/* Literal Number Integer Long */
.highlight .il {
  color: #ffa6da;
  background-color: transparent;
}
/* Literal String */
.highlight .s {
  color: #ffa6da;
  background-color: transparent;
}
/* Literal String Backtick */
.highlight .sb {
  color: #ffa6da;
  background-color: transparent;
}
/* Literal String Char */
.highlight .sc {
  color: #ffa6da;
  background-color: transparent;
}
/* Literal String Doc */
.highlight .sd {
  color: #ffa6da;
  background-color: transparent;
}
/* Literal String Double */
.highlight .s2 {
  color: transparent;
  background-color: transparent;
}
/* Literal String Escape */
.highlight .se {
  color: #ffa6da;
  background-color: transparent;
}
/* Literal String Heredoc */
.highlight .sh {
  color: #ffa6da;
  background-color: transparent;
}
/* Literal String Interpol */
.highlight .si {
  color: #ffa6da;
  background-color: transparent;
}
/* Literal String Other */
.highlight .sx {
  color: #ffa6da;
  background-color: transparent;
}
/* Literal String Regex */
.highlight .sr {
  color: #ffa6da;
  background-color: transparent;
}
/* Literal String Single */
.highlight .s1 {
  color: #ffa6da;
  background-color: transparent;
}
/* Literal String Symbol */
.highlight .ss {
  color: #ffa6da;
  background-color: transparent;
}
/* Base Style */
.highlight .g {
  color: transparent;
  background-color: transparent;
}
/* Generic Deleted */
.highlight .gd {
  color: transparent;
  background-color: transparent;
}
/* Generic Emph */
.highlight .ge {
  color: transparent;
  background-color: transparent;
}
/* Generic Error */
.highlight .gr {
  color: transparent;
  background-color: transparent;
}
/* Generic Heading */
.highlight .gh {
  color: transparent;
  background-color: transparent;
}
/* Generic Inserted */
.highlight .gi {
  color: transparent;
  background-color: transparent;
}
/* Generic Output */
.highlight .go {
  color: transparent;
  background-color: transparent;
}
/* Generic Prompt */
.highlight .gp {
  color: transparent;
  background-color: transparent;
}
/* Generic Strong */
.highlight .gs {
  color: transparent;
  background-color: transparent;
}
/* Generic Subheading */
.highlight .gu {
  color: transparent;
  background-color: transparent;
}
/* Generic Traceback */
.highlight .gt {
  color: transparent;
  background-color: transparent;
}
/* Other */
.highlight .x {
  color: #fcfcfc;
  background-color: transparent;
}
/* Text Whitespace */
.highlight .w {
  color: transparent;
  background-color: transparent;
}

.twitter-tweet {
  margin: 0 auto;
}

.feedback {
  border: dashed 3px $mdc-theme-primary;
  background-color: rgba($mdc-theme-primary, .08);
  padding: 1rem;
  &__title {
    color: $mdc-theme-primary;
  }
}

.kata {
  background-color: rgba($text, .05);
  padding: 1rem;
  margin: 1rem 0;
}
