---
layout: default
---

<a href="/Becca-Williams-CV-2020.pdf" target="_blank" class="mdc-button mdc-button--raised cv__download">
  <div class="mdc-button__ripple"></div>
  <i class="material-icons mdc-button__icon" aria-hidden="true">picture_as_pdf</i>
  <span class="mdc-button__label">Download Becca William's CV</span>
</a>

<img class="cv" src="/assets/images/Becca-Williams-CV-2020.webp" alt="Becca Williams CV, PDF copy available to download by clicking the button above.">
