---
layout: default
title: Live Developer Journal
---

<h1>{{ page.title }}</h1>

<section>
  <img src="/assets/images/dev-compost.svg" alt="illustration of a compost heap with a budding flower growing out of it. The sun is a lightbulb, the clouds are server cloud icons, the compost heap contains books, a podcast mic, a laptop with twitter and videos and berry the kitten">
  <div>
    <p>A live developer journal captures your failures, misunderstandings, struggles and the resulting lightbulb moments that propel you forward.</p>

    <p>I build programs that are tested, principle-driven, version controlled, improved by feedback and shippable to the best of my ability, based on the knowledge I hold at the time they are being built.</p>

    <p>Your keyboard holds a million bad programs, and your job is to get them out.</p>

    <p>Many of the things that influence my journey to becoming a better developer have nothing to do, but also everything to do with tech. The intersections between your home and away disciplines are unexpected, and fascinating.</p>

    <p>This is my unique garden of hybrid knowledge plants.</p>

Welcome! ☀️ 🌱 💡 📚 📝 🌈 🌻
  </div>
</section>
