---
layout: default
title: Newsletter Format
---

<article class="newsletter">

<img class="newsletter__logo" src="/assets/images/round-logo.png" alt="">

<h1 class="newsletter__title">{{ page.title }}</h1>

<p>Each email will be short and snappy, containing the best bits of one of the following content categories:</p>

<ul class="newsletter__list">
  <li>Action plans (core steps only).</li>
  <li>Tech journal (core techniques and the why behind them).</li>
  <li>Non-tech (the best transferable advice from other disciplines).</li>
  <li>Wellbeing (snappy tips about how to improve your life right now).</li>
</ul>

<p>I love getting replies to these emails too, so feel free to respond if you'd like to share your ideas and thoughts too!</p>

{% include newsletter-signup.html %}

</article>
