<nav class="navigation">
  <ul class="nav-banner">
    <li><a class="nav-banner__link" href="/about.html" title="about">About</a></li>
    <!--li><a class="nav-banner__link" href="https://becca9941.github.io/" target="_blank" rel="noopener" title="Live Developer Journal">Archives</a></li-->
    <li><a class="nav-banner__link" href="/newsletter.html" title="newsletter">Newsletter</a></li>
    <li><a class="nav-banner__link" href="/contact.html" title="contact">Contact</a></li>
    <li><a class="nav-banner__link" href="/cv.html" title="cv">CV</a></li>
    <li><a class="nav-banner__link" href="https://twitter.com/Becca9941" target="_blank" rel="noopener" aria-label="twitter"><img class="nav-banner__link-twitter" src="/assets/images/twitter.svg" alt="Go to Twitter"></a></li>
  </ul>
  <div class="navigation__wrapper">
    <section class="navigation__menu">
      <a href="/"><img class="nav-logo" src="/assets/images/fox-only-logo.svg" alt="Home" title="home"></a>
      <button class="navigation__menu__open material-icons" onclick=openMobileNav() title="menu">menu</button>
      <h1 class="navigation__menu__title"><a href="/">Essentialist Dev</a></h1>
    </section>
    <section class="navigation__icons" role="toolbar">
      <ul class="site-page-links">
        <li><a class="site-page-links__link" href="/all.html">All</a></li>
        <li><a class="site-page-links__link" href="/action-plans.html">Action Plans</a></li>
        <li><a class="site-page-links__link" href="/tech-journal.html">Tech Journal</a></li>
        <li><a class="site-page-links__link" href="/non-tech.html">Non-Tech</a></li>
        <li><a class="site-page-links__link" href="/wellbeing.html">Wellbeing</a></li>
      </ul>
      <button class="navigation__icons__icon material-icons" onclick="openSearch()" aria-label="Search" title="search">search</button>
      {% include search.html %}
    </section>
  </div>
  <article class="progress">
    <section class="bar"></section>
  </article>

</nav>
