
<nav class="nav-drawer">

  <header class="nav-drawer__header">
    <img class="nav-drawer__logo" src="/assets/images/fox-only-logo.svg" alt="Home">
    <h2 class="nav-drawer__header__title">The Essentialist Dev</h2>
    <p class="nav-drawer__header__tagline">A Live Developer Journal</p>
    <a href="/newsletter.html" rel="noopener" class="follow-cta">
      <div class="mdc-button__ripple"></div>
      <i class="material-icons mdc-button__icon" aria-hidden="true">email</i>
      <span class="follow-cta__label">Newsletter</span>
    </a>
  </header>
  <section class="nav-drawer__group-pages">

    <ul class="nav-list">
      <li class="nav-list__page"><a href="/"><i class="category__icon material-icons" aria-label="Home">home</i> Home</a></li>
      <li class="nav-list__page"><a href="https://www.redbubble.com/shop/ap/48229534" target="_blank"><i class="category__icon material-icons" aria-label="Shop">shopping_cart</i> Shop</a></li>
    </ul>

  </section>

  <section class="nav-drawer__group-pages">


    <p class="nav-drawer__group-pages__title">Categories</p>

    <ul class="nav-list">
      <li class="nav-list__page"><a href="/action-plans.html"><i class="category__icon material-icons" aria-label="Roadmaps">map</i> Action Plans</a></li>
      <li class="nav-list__page"><a href="/tech-journal.html"><i class="category__icon material-icons" aria-label="Wellbeing">extension</i> Tech Journal</a></li>
      <li class="nav-list__page"><a href="/non-tech.html"><i class="category__icon material-icons" aria-label="Career">business_center</i> Non-Tech</a></li>
      <li class="nav-list__page"><a href="/wellbeing.html"><i class="category__icon material-icons" aria-label="Journal">wb_sunny</i> Wellbeing</a></li>
      <li class="nav-list__page"><a href="all.html"><i class="category__icon material-icons" aria-label="Action Plans">launch</i> All Articles</a></li>
    </ul>

  </section>

  <!--section class="nav-drawer__group-pages">

    <p class="nav-drawer__group-pages__title">Notes</p>

    <ul class="nav-list">
      <li class="nav-list__page"><a href="https://becca9941.github.io/" target="_blank" rel="noopener"><i class="category__icon material-icons" aria-label="Live Dev Journal">emoji_objects</i> Live Dev Journal</a></li>
    </ul>

  </section-->

  <section class="nav-drawer__group-pages">

    <p class="nav-drawer__group-pages__title">Contact</p>

    <ul class="nav-list">
      <li class="nav-list__page"><a href="/contact.html"><i class="category__icon material-icons" aria-label="Email">email</i> Email Me</a></li>
    </ul>

  </section>

  <section class="nav-drawer__group-pages">


    <p class="nav-drawer__group-pages__title">About</p>

    <ul class="nav-list">
      <li class="nav-list__page"><a href="/about.html"><i class="category__icon material-icons" aria-label="About">info</i> About</a></li>
      <li class="nav-list__page"><a href="/cv.html"><i class="category__icon material-icons" aria-label="Work">flight</i> CV</a></li>
    </ul>

    <section class="nav-drawer__group-pages">

      <ul class="nav-list">
        <li class="nav-list__page"><a href="privacy-policy.html"><i class="category__icon material-icons" aria-label="Action Plans">policy</i> Privacy Policy</a></li>
      </ul>

    </section>

  </section>

</nav>
