<!-- Begin Mailchimp Signup Form -->
<div class="newsletter__form" id="mc_embed_signup">
<form action="https://gmail.us4.list-manage.com/subscribe/post?u=716d2e8af05263e18524af026&amp;id=4a06101bfd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">

<div class="mc-field-group">
  <label for="mce-EMAIL" class="newsletter__email-label">Email Address</label>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_716d2e8af05263e18524af026_4a06101bfd" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Stay Updated" name="subscribe" id="mc-embedded-subscribe" class="button newsletter__button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
