<!-- Html Elements for Search -->
<section id="search-container">
  <input type="text" id="search-input" placeholder="Search for stuffs...">
  <button id="close-search" onclick="closeSearch()"><i class="material-icons">close</i></button>
  <ul id="results-container"></ul>
</section>

<!-- Script pointing to search-script.js -->
<script src="/assets/js/search-script.js" type="text/javascript"></script>

<!-- Configuration -->
<script>
  SimpleJekyllSearch({
    searchInput: document.getElementById('search-input'),
    resultsContainer: document.getElementById('results-container'),
    json: '/search.json'
  })
</script>
