---
layout: post
author: Becca
category: Hobbies
title: Animal Crossing NH Moments
featured_image: animal-crossing-title-screen.webp
hero_caption:
leading: Villagers having a BBQ on the plaza. Tom Nook staring out the window sipping a cup of coffee. Blathers reading a book. Villagers wearing little tuxes on their birthay. I love this game!
---

<p><a href="https://animal-crossing.com/" target="_blank">Animal Crossing</a> is like sitting in front of a cozy crackling fire on a cold night. It's like lying in a hot bubble bath surrounded by gently flickering, apple crumble scented candles. It's like stroking a warm, sleepy kitten whose curled up on your chest. It's like the warm glow that spreads through you when you see a smile break out on someone's face. It's calm, it's peaceful, it's soft joy.</p>

<p>This is the best explanation I have for why Animal Crossing is such a beautiful game. Because telling people that you can fish, catch bugs, shake trees and pick up weeds does nothing to capture the magic that those simple, mundane actions infuse into your spirit. It doesn't sound all that exciting, and yet <strong>it makes you keep coming back day after day, when the cases of all the other games have long since gathered dust.</strong></p>

<p>About a week or so before New Horizons was released, I had this permanent bubble of excitement lodged in my chest. I used to get the same kind of feeling on Christmas Eve as a child. I couldn't sleep, I didn't really know what to expect, but I knew that warmth and a series of simple, happy surprises were just around the corner.</p>

<p>Many of these <strong>surprises are made more delightful for those of us who have already spent a lot of time playing one of the earlier games in the series</strong>, like <a href="https://www.amazon.com/Animal-Crossing-Wild-World-Nintendo-DS/dp/B0009Z3MQK" target="_blank">Wild World</a> or <a href="https://www.amazon.com/NINTENDO-GIOCO-ANIMAL-CROSSING-NEW-LEAF/dp/B00C74UHCS/ref=sr_1_2?keywords=new+leaf&qid=1585111600&sr=8-2" target="_blank">New Leaf</a>. The rest of this article is dedicated to capturing many of these simple joy moments as I come across them.</p>

<h2>Villagers Are More Alive Than Ever</h2>

<p>One of my favourite things about this game is the level of detail the game designers have put into it. <strong>Everything feels so much more alive and vibrant than it ever did before</strong>, especially the villagers and staff on the Island. I often catch myself stopping to stare at whatever they are doing at the time. There is something magical about seeing a villager unexpectedly do a mundane real-world task. Afterwards, the task doesn't feel mundane anymore, even in the real world.</p>

<h3>Velvet Villagers</h3>

<img src="/assets/images/article-images/savannahs-velvet-texture.webp" alt="velvet villager fur texture">

<p>One of the first things I noticed in the game was the texture of the villagers' fur. <strong>All of the villagers (that I have seen so far) have a velvet-like fur texture </strong> which makes you want to reach into the game and pet them. Details like this can be seen in screenshots of the game like in the one above. However, the texture seems more 'real' and less flat when playing the game itself, especially when playing on the switch screen instead of on the TV.</p>

<h3>Catching Villagers In The Act</h3>

<p>In previous versions of Animal Crossing, most of the animals appeared to be 'waiting' for you to interact with them. If you walked into the Town Hall for example, Isabelle or Pelly and Phyllis would just be sitting there waiting for you. The same would be true of Tom Nook or Timmy and Tommy in the Nook retail shops.</p>

<p>You might have caught a villager wandering around with a fishing rod or a bug net, but that's nothing compared to the things they get up to in New Horizons. <strong>It really feels like the villagers and staff have their own little lives in the game now</strong>. Instead of waiting for you to interact with them, it feels like you are actually interrupting them when you go and speak to them. Which makes their joy at seeing you even more moving.</p>

<img src="/assets/images/article-images/tom-nook-drinking-a-cup-of-tea.webp" alt="Tom Nook and Isabelle going about their business in Resident Services.">

<p><strong>It was a pleasant surprise walking into the Resident Services building to see Tom Nook staring out the window, mindlessly sipping on a cup of joe</strong> (as coffee is affectionately known in earlier versions of the game). The scene made me stop and pause, wondering what kind of things he would be daydreaming about. He can also be seen sipping on a can of pop sometimes instead. Though I do worry about his dependence on caffeine sometimes...</p>

<img src="/assets/images/article-images/blathers-asleep-in-the-museum.webp" alt="Standing next to a sleeping Blathers in the Museum's entrance hall.">

<p><strong>Blathers can be found asleep as usual during the daytime in his Museum</strong>. However, at night time he can often be caught reading a book. Presumably some kind of encyclopedia about fish and fossils (definitely not bugs). Or, he might even be reading the Animal New Horizons Guide. Perhaps he's kind of like Morpheus in the Matrix, and the only way he can cope with handling the detested bugs in his care is knowing he can swallow the red pill at any time to escape them. I would choose the blue pill in this world without even thinking about it.</p>

<img src="/assets/images/article-images/croc-sitting-down.webp" alt="Little croc sitting down next to the campsite.">

<p><strong>Another really cute thing that the villagers do now and again is sit down on the floor randomly</strong>. All that wandering around the village must be hard on their tiny little tootsies, so it's no surprise really (actually, it's a happy surprise). The reason this is so squee-worthy is that you get to see the little foot pads on each of the villagers feet when they do this. YAYY BEANS!</p>

<p><strong>One of the things that a lot of people think is totally adorable in New Horizons is seeing Isabelle sing your town tune whenever you ask her too.</strong> This is super adorable, but I was totally blown away when I came across two villagers performing a little two-animal choir on the plaza one time. I had to stop and stare and was a little dissappointed that there wasn't a hat to throw bells into after. It was mesmerising! This isn't a one-off either. Some villagers even sing to themselves as they are wandering around the island. It's so lovely.</p>

<img src="/assets/images/article-images/villagers-having-a-bbq.webp" alt="Villagers cooking BBQ chicken Skewers on a BBQ in front of the Residency Services Building.">

<p><strong>The plaza seems to be a good place to catch villagers doing something totally cute together</strong>, like doing a zumba-like workout routine or having a little BBQ together. Savannah and Muffy even had their own tiny little kebab skewers in their hands and ohmygosh I can't even. That is so dang cute! This also made me really want to put some furniture down outside in the hopes that I'll wander past sometime and see villagers randomly interacting with them.</p>

<img src="/assets/images/article-images/muffy-working-on-a-wooden-block-mirror.webp" alt="Muffy the sheep villager crafts a wooden block mirror on her DIY bench in her house.">

<p>Visiting villagers is also a really fun experience, as you will often catch them in the middle of crafting a super cool new piece of furniture. You will see them with tools in their paws hammering down on their workbench, with clouds of dust puffing up around them. Their back is usually facing you but you can easily imagine their tounges sticking out in concentration. If you talk to them while they are working they will give you a recipe for the item they are building, which makes it even more special.</p>

<img src="/assets/images/article-images/billys-birthday-celebration.webp" alt="Savannah and Billy Celebrate Billy's birthday in their finest clothes.">

<p>Quite early on in the game, I was lucky enough to attend Billy's birthday party. Birthdays have always been fun in the Animal Crossing series, but as with everything else in New Horizons, it is oh so much better. Billy's house was decked out in birthday decorations, and he was even wearing a birthday cake hat. My favourite thing though has to be that <strong>all of the animals in the birthay villagers house dress up for the occasion, wearing adorable little tuxes.</strong> I had to join in!</p>

<img src="/assets/images/article-images/able-sisters-opening-ceremony.webp" alt="Villagers celebrating the opening of Able Sisters shop by pulling party poppers.">

<p>A really nice touch in this game is the little celebrations that happen every time a new major milestone has been reached, like opening a new shop or building. So far, my little town has had celebrations for opening the Museum, Nooks Cranny, The Able Sisters Shop and the Residency Services Building. <strong>I love that all of the villagers gather around and pull little party poppers.</strong> It actually feels like a real celebration! I like capturing every one of these with my Switch's in built screen capture camera. It'll be great to capture all of them as the game evolves over time.</p>

<h2>Tiny Magic Details</h2>

<p>Just as each of the villagers are so much more alive and vibrant, the same is true of everything else in the game. An incredible amount of care has been put into the little details of this wonderful world. Many of those details are things that we take for granted or wouldn't even notice in real-life, but really catch your attention in the game itself. The result is that <strong>the in-game magic bleeds into real-life too</strong>, which is a wonderful impact for any game to have.</p>

<h3>Scales That Look Wet</h3>

<img src="/assets/images/article-images/showing-off-a-red-snapper-fishy.webp" alt="Showing off a freshly caught Red Snapper Fish on the beach next to a roaring bonfire.">

<p>One of the really impressive details when it comes to fishing, is the balance between digital and lifelike features of the fish themselves. I really noticed this when I caught a Red Snapper fish at nighttime. As I was holding the fish and it was wriggling about as they do, I noticed an iridescent sheen play across it's red scales as they reflected moonlight. Everytime I fish now I notice how the scales shine and refract light as if they really have just been pulled out of the water. It's stunning.</p>

<h3>Water Glinting In The Sunlight</h3>

<img src="/assets/images/article-images/catching-a-little-fishy.webp" alt="Watching the waves roll onto the beach with a camel who sells mysterious carpets.">

<p>In fact, <strong>everything water-related is pretty beautiful in this game.</strong> In direct sun, the sea sparkles like there are diamonds caught in the waves. The feeling you get when watching the waves rolling onto the beach, is the same feeling you get when watching them in person in real life, minus the smell of the salty sea air.</p>

<h3>Raindrops and Footprints</h3>


<p><strong>One of my favourite weather-based experiences in New Horizons so far is being in my house, watching the rain droplets run down the windowpanes</strong>. I played a game that I used to play in the back of a car at night when it was raining, where you pretend the droplets are in a race and bet on the one you think will hit the bottom first. You can also close your curtains if you'd rather not see the elements waving at you from outside.</p>

<p>If you happen to be out fishing, collecting shells or coconuts when it's raining, you'll notice that the footprints you leave in the sand are much heavier than those you leave when it isn't raining. The wet sand also makes more of a sucking noise and kicks up little chunks of sand when you run. <strong>These tiny details really adds depth to our experience playing the game, so we really feel immersed in it.</strong></p>

<h3>Airport Flying Animation And Announcements</h3>

<img src="/assets/images/article-images/visiting-a-dodo-in-the-airport.webp" alt="Visiting a Dodo flight assistant in the town airport.">

<p>Everytime we travel to a mini-deserted Island, someone else's town or to Harv's Photopia Island, we see the same flight logo screen which is how we know we are flying. The logo is a little white line-drawing of a Dodo or Pelican bird that jumps into the air and flaps it's wings. This is a really simple animation, but I'm impressed by the strong sense of movement in just the right places. It's a skill to make something that simple behave like that.</p>

<p>Another cool thing about the airport is the announcements that are made. You hear the <a href="https://animalcrossing.fandom.com/wiki/Language" target="_blank">Animalese</a> speech over the Tannoy as if the Dodo is actually speaking through an Airport PA (Public Address) system. It echoes and reverbrates with tinny undertones, so the atmostphere is similar to that of a real airport with very few people in it.</p>

<h3>Flowers Dripping Sparkles</h3>

<img src="/assets/images/article-images/sparkly-flowers.webp" alt="Standing in front of freshly watered flowers, now sparkling like there are diamonds hidden in the petals.">

<p>I didn't think that flowers could be improved all that much in terms of detail in the game, but even those are so much better than they were before. It's hard to even put my finger on why. They look slightly bigger and seem to have a little more detail. It could be that they seem to sway more in the wind. Essentially, <strong>the developers did it again by adding simple, subtle details that have an incredible impact.</strong> Wow.</p>

<p>When you water the flowers, you can see little droplets form on the petals and then drip down until you have stopped watering them. Then once the flowers have been watered, they start to sparkle as if a few of those droplets crystalized into diamonds that only catch the light when the flower sways to just the right position. <strong>If you aren't very good at mindfulness, this game is a great way to learn without meaning too.</strong></p>

<p>Oh also! When you pick flowers, the stems stay in place so that the flowers can grow back. This is great for when you grow hybrid plants, you can pick and plant more of them instead of having to grow them specifically each time, which is often a hit and miss task.</p>

<img src="/assets/images/article-images/inside-my-house.webp" alt="The inside of my animal crossing house. Wooden baby pink furniture and a custom made drawing of Stitches the bear displayed on a wall canvas.">

<h2>What are your favourite moments in Animal Crossing: New Horizons so far?</h2>
