---
layout: post
author: Becca
category: Draft
featured_image:
hero_caption:
leading: One week after drinking enough water, your skin will be noticably clearer. Two weeks, your energy will be greatly improved. A few months and you'll never go back. Let's do this.
---

<!-- Hero Image: Kitten mug filled with water next to a water jug -->

<h2>Introduction</h2>

<h2>Why Is It So Hard To Drink Water?</h2>

<h2>Track Your Drink Intake</h2>

<h2>Why Do You Want To Drink Enough Water?</h2>

<h2>Can You Drink Too Much Water?</h2>

<h2>What Might Prevent You From Drinking Enough?</h2>

<h2>What Is Your Contingency Plan?</h2>

<h2>How Will You Reward Yourself?</h2>

<h2>Here Is Your Action Plan</h2>

<h2>Conclusion</h2>
